@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#hamburger {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
  }
  
  .bar-1, .bar-2, .bar-3 {
    width: 35px;
    height: 5px;
    background-color: #feffed;
    margin: 6px 0;
    transition: 0.4s;
  }
  